
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <title>Multi Profile, free responsive template</title>#}
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <meta name="csrf" content="this is a test">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">

        <js-placeholder token="{{ placeholder_token|raw }}">
            </head>
            <head-placeholder token="{{ placeholder_token|raw }}">
