<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="six wide column">
                <h4 class="ui inverted header">Social</h4>
                <div class="ui inverted link list">
                    <a href="" class="item"><i class="fa fa-anchor"></i>Yelp</a>
                    <a href="" class="item"><i class="fa fa-twitter"></i>Twitter</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
    </div>
</div>